<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property='og:title' content='Page Not Found'/>
    <meta property='og:image' content='/public/images/metadata404.png'/>
    <meta property='og:description' content="Page Not Found"/>
    <meta property='og:url' content='https://muhammadselim.tech'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='628' />
    <meta property="og:type" content='website'/>
    <meta name="author" content="Muhammad Selim">
    <title>Page not found</title>

    <link rel="shortcut icon" href="/public/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/style/root.css">
    <link rel="stylesheet" href="/public/style/404/404.css">

    <script src="/public/scripts/consoleMessage.js"></script>
    <script defer src="/public/scripts/404/404.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h2>404</h2>
            <h4>Opps! Page not found</h4>
            <p>Sorry we can't find that page! Don't worry though, everything is STILL AWESOME!</p>
            <a class="link-button" href="/">back to home</a>
        </div>
    </div>
</body>
</html>